<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="this.modalCtrl.dismiss(undefined, 'cancel')">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Mes Personnages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="character-list">
    <ion-item-sliding *ngFor="let c of characters; let i = index" >
      <ion-item (click)="characterModal(i)">
        <ion-label>{{c.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" >
          <ion-icon name="trash" (click)="trash(c)" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  

  <ion-button (click)="importCharacter()">
    <fa-icon class="icon" [icon]="importIcon"></fa-icon>
    Importer un personnage
  </ion-button>
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="characterModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
