<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dicesPage">
  <ion-card-content class="dices">
    <ion-img class="small" (click)="increaseDiceSum(4, 'd4')" src="/assets/d4.svg"></ion-img>
    <ion-img class="small" (click)="increaseDiceSum(6,'d6')" src="/assets/d6.svg"></ion-img>
    <ion-img class="small" (click)="increaseDiceSum(8,'d8')" src="/assets/d8.svg"></ion-img>
    <ion-img class="small" (click)="increaseDiceSum(10,'d10')" src="/assets/d10.svg"></ion-img>
    <ion-img class="small" (click)="increaseDiceSum(12,'d12')" src="/assets/d12.svg"></ion-img>
  </ion-card-content>
  <ion-card-content class="dices">
    <ion-img class="small" (click)="increaseDiceSum(20,'d20')" src="/assets/d20.svg"></ion-img>
    <ion-img class="smallDouble" (click)="increaseDiceSum(100,'d100')" src="/assets/d100.png"></ion-img>
  </ion-card-content>
  <ion-button >
    <ion-icon  name="refresh-outline" (click)="resetDices()"></ion-icon>
  </ion-button>
  <ion-card-content class="selectDices">{{selectedDices}}</ion-card-content>
  <ion-card-content class="modificateurText" *ngIf="modificateur != 0">Modificateur : {{modificateur}}</ion-card-content>
  <ion-button class="launch" (click)="launchDice()">Lancer</ion-button>
  <br><br>
  <form>
    <label for="modif">Modificateur :</label><br>
    <input type="number" id="modif" value="" name="fname">
    <ion-button class="modifbutton" (click)="modifyResult()">Appliquer</ion-button>
  </form>
</ion-content>
