h1 {
  text-align: center;
}

ion-img {

  &.bigger {
    width: 100px;
    height: 100px;
  }

  &.small {
    width: 75px;
    height: 75px;
  }
  &.smallDouble {
    width: 90px;
    height: 90px;
  }


}

.dices {
  display: flex;
  align-items: center;
}
