fa-icon {
    margin-right: 1%;
}

.players {
    font-size: 18px;
    margin: 1%;
    padding: 1%;
    color: dodgerblue;
}

.icons {
    margin: 5%;
    padding: 5%;
}
.new-background-color{
    --background: #faefe1;
}
