<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>custom-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-accordion multi="true">
    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="section-title">
        Identité
      </mat-expansion-panel-header>

      <div class="mes">
        Par défaut, la fiche contient les champs suivant : nom, sexe, âge et background
      </div>

      <ion-button (click)="addPersonalData()" shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>

      <ion-list class="personal">
        <ion-item *ngFor="let data of sheet.other_personal">
          <ion-label>{{data.name}}</ion-label>
        </ion-item>
      </ion-list>
        
    </mat-expansion-panel>

    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="section-title">
        Caractéristiques
      </mat-expansion-panel-header>

      <ion-button (click)="addTrait()" shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>

      <ion-list class="trait">
        <ion-item *ngFor="let trait of sheet.traits">
          <ion-label>{{trait.name}}</ion-label>
        </ion-item>
      </ion-list>


    </mat-expansion-panel>
  </mat-accordion>

  <ion-button (click)="finishCustomisationAlert()">
    Terminer la customisation
  </ion-button>
</ion-content>
