#timestamp {
    color: grey;
    margin-left: 5px;
}

#identifier {
    text-align: center;
    width: 100%;
}

#message {

    border: solid lightblue 2px;
    border-radius: 5px;
    padding: 2px;
}
