<ion-header translucent="true">
  <ion-toolbar style="font-family: 'Playfair display',serif" color="header">
    <ion-title>Héberger votre partie</ion-title>
    <ion-buttons slot="end" (click)="this.modalController.dismiss(undefined, 'cancel')"><ion-icon class="ion-margin" name="close-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">Nom de la salle <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="name" maxLength="36" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea [autoGrow]="true" required formControlName="description" type="text"></ion-textarea>
    </ion-item>
    <ion-item class="select">
      <ion-label>Fiche personnage</ion-label>
      <ion-select formControlName="template" placeholder="Select Template">
        <ion-select-option *ngFor="let nickname of template_nickname" value="{{nickname}}">
          {{available_templates[nickname]}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="closeModal(myForm.getRawValue())" type="button" block expand="block" color="btn-purple" [disabled]="myForm.invalid">
      Héberger
    </ion-button>
  </form>

  

  
  
</ion-content>
