<!--<ion-card>
  <ion-card-subtitle>{{historyService.selectedDiceString(roll)}}</ion-card-subtitle>
  <ion-card-title>{{roll.result}}</ion-card-title>
  
  <ion-card-content>
    {{roll.separatedValue}}
  </ion-card-content>
</ion-card>-->

<div class="history">
  <div class="result">
    <ion-text >
      {{roll.result}}
    </ion-text>
  </div>

  <div class="detail">
    <ion-text style="font-weight: bold" class="name">
      {{roll_name}}
    </ion-text>
    <ion-text style="font-weight: bold" class="value">
      {{roll.separatedValue}}
    </ion-text>
    <div class="popupSpecialDice">
      <ion-img *ngFor="let dice of roll.faces" class="resultHistoryDices" src="{{dice}}"></ion-img>
    </div>
  </div>
</div>
