<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="end">
      <ion-menu-toggle menu="playerList">
        <ion-button>
          <ion-icon name="person" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div class="hcs">
      <fa-icon class="realSmall"  *ngIf="playerServ.isHost" [icon]="crown" style="color: #ffc409"></fa-icon>
      <ion-title style="font-family: 'Playfair display',serif">
        {{roomName}}
      </ion-title>

      <ion-button (click)="sendInvitationModal()">
        {{roomid}}
      </ion-button>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="flex" id="mainContent" [fullscreen]="true">
  <ion-card>
    {{description}}
  </ion-card>
  <!-- Shows share image if on is selected; Should be generated in code for better persistence -->
  <div *ngIf="image" class="container">
    <img [src]="image" alt="">
    <ion-fab-button color="light" size="small" class="btn" slot="end" (click)="closeImage()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button  color="light" size="small" class="brushbtn" slot="end" (click)="openCanvasModal()">
        <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color= "medium" >
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="dice" (click)="openDiceRollerModal()" data-desc="Lanceur de dés">
        <fa-icon class="icon" [icon]="diceIcon"></fa-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openNotesModal()" data-desc="Notes">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openAchivementModal()" data-desc="Succès">
        <fa-icon class="icon" [icon]="trophyIcon"></fa-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openCrowdsouricngModal()" data-desc="Communauté">
        <fa-icon class="icon" [icon]="crowdsourcing"></fa-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

<ion-footer class="new-background-color">
  <ion-toolbar  id="end">
    <ion-button  color= "medium" *ngIf="playerServ.isHost" id="ButtonPerso" (click)="masterCharacterModal()">Mes Personnages</ion-button>
    <ion-button  color= "medium" *ngIf="!playerServ.isHost" id="ButtonPerso" (click)="openModal('char')">Mon personnage</ion-button>
    <!--<ion-button id="ButtonDoc" (click)="presentAlertConfirm()" >Documents partagés</ion-button>-->
    <ion-button id="ButtonDoc"  color= "medium" (click)="openModal('doc')" >Documents partagés</ion-button>
  </ion-toolbar>
</ion-footer>

