<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-toggle menu="playerList">
        <ion-button>
          <ion-icon name="person" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <div class="hcs">
    <ion-img class="realSmall" *ngIf="isHost" src="/assets/Simple_crown_icon.svg"></ion-img>
    <ion-title>
      {{roomName}}
    </ion-title>
    {{roomid}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="flex not-scrollable" id="mainContent" [fullscreen]="true">
  <ion-card>
    {{description}}
  </ion-card>
  <!-- Shows share image if on is selected; Should be generated in code for better persistence -->
  <div *ngIf="image" class="container">
    <img [src]="image" alt="">
    <ion-buttons class="btn" slot="end" (click)="closeImage()">
        <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-fab-button  color="light" size="small" class="brushbtn" slot="end" (click)="openCanvasModal()">
        <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="dice" (click)="openDiceRollerModal()">
        <fa-icon class="icon" [icon]="diceIcon"></fa-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openNotesModal()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openAchivementModal()">
        <fa-icon class="icon" [icon]="trophyIcon"></fa-icon>
      </ion-fab-button>
      <ion-fab-button class="dice" (click)="openCrowdsouricngModal()">
        <fa-icon class="icon" [icon]="crowdsourcing"></fa-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

<ion-footer >
  <ion-toolbar  id="end">
    <ion-button *ngIf="isHost" id="ButtonPerso" (click)="masterCharacterModal()">Mes Personnages</ion-button>
    <ion-button *ngIf="!isHost" id="ButtonPerso" (click)="openModal('char')">Mon personnage</ion-button>
    <!--<ion-button id="ButtonDoc" (click)="presentAlertConfirm()" >Documents partagés</ion-button>-->
    <ion-button id="ButtonDoc" (click)="openModal('doc')" >Documents partagés</ion-button>
  </ion-toolbar>
</ion-footer>

