<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
        <span *ngIf="character.name;else no_name">{{character.name}}</span>
        <ng-template #no_name>
            Fiche Personnage
        </ng-template>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-accordion multi="true">
    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="section-title">
        Identité
      </mat-expansion-panel-header>

      <div class="identity">
        <div class="public-info">
          <div *ngIf="character.img" class="image">
            <img [src]="character.img" (click)="addPicture()">
          </div>
          <div *ngIf="!character.img" class="image">
            <img src="/assets/add-picture.png" (click)="addPicture()">
          </div>
          <div class="personnal">
            <ion-item>
              <ion-label position="floating"> {{read_only}} </ion-label>
              <ion-input required maxLength="36" type="text" [(ngModel)]="character.name">  <ion-icon *ngIf="!read_only" slot="end" name="create-outline"></ion-icon> </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Age </ion-label>
              <ion-input required maxLength="36" type="text" [(ngModel)]="character.age"  (ionFocus)="setTemp(character.age)" (ionChange)="editValue(character.age, numberCheck)" (ionBlur)="forceTemp(character.age)"> <ion-icon *ngIf="!read_only" slot="end" name="create-outline"></ion-icon> </ion-input>
            </ion-item>
            <p class="sex">Sexe: {{character.sex}} <ion-icon *ngIf="!read_only" slot="end" name="create-outline" (click)="editPersonalAlert(character.sex)"></ion-icon></p>
          </div>
        </div>

        <div class="optional_data" *ngIf="character.other_personal">
          <ion-list>
            <ion-item *ngFor="let d of character.other_personal">
              <ion-label position="floating"> {{d.name}} </ion-label>
              <ion-input maxLength="36" type="text" [(ngModel)]="d.value" (ionFocus)="setTemp(d)" (ionChange)="editValue(d, $event)" (ionBlur)="forceTemp(d)"> <ion-icon *ngIf="!read_only" slot="end" name="create-outline"></ion-icon> </ion-input>
            </ion-item>
          </ion-list>
          <p class="data" *ngFor="let d of character.other_personal; let i = index">
            {{d.name}}: {{d.value}}
            <ion-icon *ngIf="!read_only" slot="end" name="create-outline" (click)="editOptionalDataAlert(d, i)"></ion-icon>
          </p>
        </div>

        <div class="private-info">
          <p>Origines: <ion-icon *ngIf="!read_only" slot="end" name="create-outline" (click)="editPersonalAlert('background')"></ion-icon></p>
          <div class="background-display">
            {{character.background}}
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="section-title">
        Caractéristiques
      </mat-expansion-panel-header>

      <div class="traits">
        <ion-list>
          <ion-item *ngFor="let trait of character.traits" calss="item">
            <ion-label position="floating" class="editIcon"> {{trait.name}} </ion-label>
            <ion-input class="editIcon" maxLength="36" type="text" [(ngModel)]="trait.value" (ionFocus)="setTemp(trait)" (ionChange)="editValue(trait, $event, numberCheck)" (ionBlur)="forceTemp(trait)"> </ion-input>
            <ion-icon position="relative" *ngIf="!read_only" slot="end" name="create-outline" class="editIcon"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="section">
      <mat-expansion-panel-header class="section-title">
        Compétences
      </mat-expansion-panel-header>

      <div class="skills">
        <ion-button color="medium" *ngIf="!read_only" (click)="addNewSkillAlert()" shape="round">+</ion-button>
        <ion-list>
          <ion-item-sliding *ngFor="let skill of character.skills; let i = index">
            <ion-item>
              <ion-label>{{skill.name}}</ion-label>
            </ion-item>
            <ion-item-options *ngIf="!read_only" side="start">
              <ion-item-option color="danger" (click)="deleteSkill(i)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

    </mat-expansion-panel>
  </mat-accordion>


  <div class="buttons" *ngIf="!read_only">
    <ion-button color="medium" (click)="shareCharacter()">
      <ion-icon class="icon" name="cloud-upload"></ion-icon>
      Uploader le personnage
    </ion-button>
    <ion-button color="medium" *ngIf="!isHost" (click)="importCharacterForPlayer()">
      <fa-icon class="icon" [icon]="importIcon"></fa-icon>
      Importer depuis le téléphone
    </ion-button>
    <ion-button color="medium" *ngIf="!isHost" (click)="importCharacterFromServerForPlayer()">
      <fa-icon class="icon" [icon]="importIcon"></fa-icon>
      Importer depuis le serveurs
    </ion-button>
  </div>

  <div class="buttons" *ngIf="read_only && !importing">
    <ion-button color="medium" (click)="downloadCharacter()">
      <ion-icon name="cloud-download"></ion-icon>
      Télécharger le personnage
    </ion-button>
  </div>

  <div class="buttons" *ngIf="importing">
    <ion-button color="medium" (click)="importCharacter()">
      <fa-icon class="icon" [icon]="importIcon"></fa-icon>
      Importer
    </ion-button>
  </div>
  
</ion-content>
