.image {
    width: 25%;
}

.image img {
    width: 100%;
}
.new-background-color{
    --background: #faefe1;
}
.section  .mat-expanded {
    background-color: #dddddd;
}

.section-title {
    font-weight: bold;
    font-variant-caps: small-caps;
    font-size: large;
}

.public-info {
    display: flex;
}

.personnal {
    padding: 0 2%;
}

