<ion-header translucent="true">
  <ion-toolbar color="header">
    <ion-title style="font-family: ' Playfair display',serif">Rejoindre une partie</ion-title>
    <ion-buttons color="btn-purple" slot="end" (click)="this.modalController.dismiss(undefined, 'cancel')">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label position="floating">Identifiant de la salle <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="id" maxLength="36" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pseudo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="pseudo" maxLength="36" type="text"></ion-input>
    </ion-item>
    <ion-button (click)="closeModal(myForm.getRawValue())" type="button" block expand="block" color="btn-purple" [disabled]="myForm.invalid">
      Rejoindre
    </ion-button>
  </form>

  <div class="error" [hidden]="!error">
    <p class="message">
      L'identifiant de la salle doit contenir 5 caractères.
    </p>
  </div>
</ion-content>
