.new-background-color{
  --background: #faefe1;
}
ion-content{
  --background: #fff url('../../../assets/notes-image.png')   no-repeat center center / cover;

}


ion-item{
  --background: #fff url('../../../assets/notes-item.png')   no-repeat center center / cover;
  height: 6.5vh;
  background-size: cover;

}