.settings {
  align-items:flex-end;
  display: flex;
  height: 100%;

}

.subSettings {
  display: flex;
  align-items: center;
}

ion-img {
  &.small {
    width: 25%;
  }
}

ion-thumbnail {
  width:70%;
}

.pastèque {
  width: auto;
  height: auto;
}

  .dices {
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
  }
  
  .control {
    width: 90%;
    margin: 0 5%;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4% 0;
  }

  .launch {

  }
  .refresh {
  }

 .slides {
      height: 100%;
  }

app-roll-history {
  min-height: fit-content;
}

  .swiper-slide { overflow-y: scroll; display: block; }

  .dicesPage {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
  }

  .historiquePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.macroPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
ion-content{
  --background: #fff url('../../../assets/Fond-dés.jpg')   no-repeat center center / cover;

}
.new-background-color{
  --background: #faefe1;
}
.selectDices{
  margin: 4% 0;
  font-size: xx-large;
  font-weight: bold;
  color: black;
}
