
<ion-header  >
  <ion-toolbar class="new-background-color" >
    <ion-buttons *ngIf='!isModal' slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family:'Playfair display',serif">Lanceur de dés</ion-title>
    <ion-buttons *ngIf='isModal' slot="end" (click)="this.modalCtrl.dismiss(undefined, 'cancel')"><ion-icon class="ion-margin" name="close-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>
    <!-- SLIDES -->
    <ion-slides #slides class="slides" (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <!-- DICE -->
      <ion-slide class="dicesPage">
          <div *ngIf="normalDices" class="dices">
            <ion-img class="small" *ngFor="let dice of this.diceService.Normal" (click)="increaseDiceSum(dice)" src="/assets/{{dice.name}}.svg"></ion-img>
          </div>
          <div *ngIf="!normalDices" class="dices">
              <ion-img *ngFor="let dice of this.diceService.specialGame.get(specialDiceSet)" (click)="increaseDiceSum(dice)" class="small pastèque" src="{{dice.faces[2]}}"></ion-img>
          </div>
          <ion-button (click)="specialDicesAlert()">Changer le set de dés</ion-button>
          <div class="control">
            <div class="buttons">
              <ion-button  class="launch" color="medium" *ngIf="listOfDiceAsString !== ''" (click)="launchDice()">Lancer</ion-button>
              <ion-button shape="round" color="medium" *ngIf="listOfDiceAsString !== ''" class="refresh" (click)="resetDices()">
                <ion-icon  name="refresh-outline" ></ion-icon>
              </ion-button>
            </div>
        
            <ion-card-content class="selectDices" >{{listOfDiceAsString}}</ion-card-content>
            
            <br>
            <form *ngIf="normalDices">
              <label style="font-weight: bold" for="modif">Modificateur :</label><br>
              <input type="number" id="modif" value="" name="fname" [(ngModel)]="modificateur">
            </form>
          </div>
          <br><br>
          <div class="settings">
              <ion-toggle (ionChange)="gyroscopeSetting()"></ion-toggle>
              <ion-label style="font-weight: bold">Activer le lancer par secousse</ion-label>
          </div>


        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color= "medium" *ngIf="listOfDiceAsString !== ''" class="dice" (click)="newMacroAlert()">
            <ion-icon name="save-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-slide>


      <!-- MACRO -->
      <ion-slide class="macroPage">
        <app-roll-macro class="macroPage" *ngFor="let macro of macroService.macros" [macro]= macro (click)="macroLaunch(macro)"></app-roll-macro>
      </ion-slide>

      <!-- HISTORIQUE -->
      <ion-slide class="historiquePage" id="test">
        <app-roll-history class="historiquePage" *ngFor="let roll of this.diceHistoryService.history" [roll]= roll></app-roll-history>
      </ion-slide>


    </ion-slides>


  
</ion-content>

<ion-footer>
  <ion-toolbar class="new-background-color">
    <ion-segment  [(ngModel)]="segment" (ionChange)="segmentChanged($event)"  color="warning">
      <ion-segment-button value="0">
        <ion-label>Dés</ion-label>
      </ion-segment-button>
     <ion-segment-button value="1">
        <ion-label>Macros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Historique</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
