<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons *ngIf="!isModal" slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="isModal" slot="end" (click)="this.modalCtrl.dismiss(undefined, 'cancel')">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>crowdsourcing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let character of characters; let i = index" (click)="displayChar(i)">
      <ion-label>{{character.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
