<ion-header translucent="true">
  <ion-toolbar color="header">
    <ion-buttons slot="end" (click)="closeModal()">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Nouveau Partage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
        <ion-item>
        <ion-text id="label">Nom :</ion-text>
        <ion-input id="name" [(ngModel)]="text.name"></ion-input>
        <ion-img class="small" id="" (click)="searchPhoto()" src="/assets/open-folder.png"> </ion-img>
        </ion-item>
        <div>
            <img [src]="this.image" alt=""/>
        </div>
            <ion-text id="label">Selectionnez les joueurs avec qui partager :</ion-text>
            <ion-item>
                <ion-label><strong>Select All</strong></ion-label>
                <ion-checkbox slot="start"
                          [(ngModel)]="masterCheck"
                          [indeterminate]="isIndeterminate"
                          (click)="checkMaster($event)"></ion-checkbox>
            </ion-item>
            <ion-list *ngIf="this.playersServ.playersList.length != 0">
                <ion-item class="playerList" *ngFor="let player of this.connectedPlayers">
                    <ion-checkbox slot="start" [(ngModel)]="player.isChecked" (ionChange)="checkEvent()"></ion-checkbox>
                    <ion-label class="playerName">{{player.val.name}}</ion-label>
                </ion-item>
            </ion-list>
    </ion-card-content>
</ion-content>

<ion-footer>
    <ion-button color="btn-purple" (click)="validModal()"> Valider</ion-button>
    <ion-button color="btn-purple" (click)="closeModal()"> Annuler </ion-button>
</ion-footer>


