ion-icon {
    margin-right: 1%;
}

ion-toolbar {
    --padding-end: 0px;
    --padding-start: 0px;
}
ion-button{
    width: 48%;
}
#buttons{
    width: 100%;
}
ion-input{
    background-color: white;
    border: 1px lightgray solid;
}


ion-img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
#folderInput{
    margin-top: 30px;
    width: 60%;
    height: 30px;
}
#label{
    margin-left: 10px;
    margin-top: 40px;
    font-size: 15px;
}
#name{
    margin-left: 10px;
    width: 80%;
    height: 30px;
    margin-top: 10px;
}

.playerList {
    display: flex;
    align-items: center;
}

.playerName {
    padding-left: 3px;
    font-size: 17px;
}
