.note {
    min-height: auto;
}
.new-background-color{
    --background: #faefe1;
}

ion-content{
    --background: #fff url('../../../assets/detail-fond.png')   no-repeat center center / cover;
}
ion-textarea{
    font-size: 2.3vh;
    line-height: 1;
}