.note {
    min-height: auto;
}

ion-toolbar {
    --opacity: 0;
  }

ion-content{
    --background: #fff url('../../../assets/book.png')   no-repeat center center / cover;
}
ion-textarea{
    font-size: 2.3vh;
    line-height: 1;
}