<ion-header [translucent]="true">
  <ion-toolbar  class="new-background-color">
    <ion-buttons style="color:  #333333" slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Remus : Assistant pour JDR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="not-scrollable " [fullscreen]="true">
  <div class="left-side" >
    <div class="contain">
    <ion-text class="label" style="color: white">BIENVENUE <br> SUR  <br> REMUS</ion-text>
    <ion-button  style="margin-top: 10vh" size="large"  (click)="openModal()" color="light" expand="block" fill="outline" shape="round">
      Héberger
    </ion-button>
    <ion-button size="large" (click)="joinModal()" color="light" expand="block"  fill="outline" shape="round" >
      Rejoindre
    </ion-button>
    </div>
  </div>
  <ion-content class="right-side">
  </ion-content>
  <!-- Soon available campains here -->
</ion-content>

<!--ion-footer>
  <ion-toolbar>
    <ion-button margin (click)="openModal()" color="dark" expand="block" fill="outline" shape="round">
      Heberger
    </ion-button>
    <ion-button margin (click)="joinModal()" color="dark" expand="block" fill="outline" shape="round">
      Rejoindre
    </ion-button>
  </ion-toolbar>
</ion-footer-->


