<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="closeModal()" slot="end">
      <ion-icon class="ion-margin" name="close-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Choix du générateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="selector">
    <ion-button (click)="characterNameModal()"expand="block" fill="outline" shape="round">
      Nom de Personnage
    </ion-button>
    <ion-button disabled expand="block" fill="outline" shape="round">
      Nom de ville
    </ion-button>
  </div>
    
  
</ion-content>
