<ion-header [translucent]="true">
    <ion-title class="ion-text-center"  size="large">
      Succés
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="playersService.isHost " >
    <ion-item  *ngFor="let achivement of achivements"  >
        <ion-title (click)="showAchivement(achivement)" >{{achivement.titre}}</ion-title>
        <ion-checkbox [checked]="this.achivement.checked" (ionChange)="validAchivement(achivement.titre)"></ion-checkbox>
    </ion-item>
  </ion-list>




    <ion-list *ngIf="!playersService.isHost && achivementService.partage" >
        <ion-item  *ngFor="let achivement of achivements" (click)="showAchivement(achivement)" >
            <ion-title >{{achivement.titre}}</ion-title>
            <ion-checkbox [checked]="this.achivement.checked" [disabled]="true" ></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-text class="ion-text-center" *ngIf="!playersService.isHost && !achivementService.partage" >
        Le Maître du Jeu n' pas souhaité partager les succés.
    </ion-text>


  <ion-fab *ngIf="playersService.isHost" vertical="bottom" horizontal="begin" slot="fixed">
    <ion-fab-button *ngIf="achivementService.partage" (click)="activatePartage()">
        <ion-img class="customImg" src="/assets/eye-regular.svg"></ion-img>
    </ion-fab-button>
     <ion-fab-button *ngIf="!achivementService.partage" color="white" (click)="activatePartage()">
         <ion-img class="customImg" src="/assets/eye-regular.svg"></ion-img>
     </ion-fab-button>
  </ion-fab>

    <ion-fab *ngIf="playersService.isHost" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="newAchivement()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>



